@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

.inter {
    font-family: 'Inter', sans-serif;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: #eeeff1;
    border-radius: 9999px;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ef4444;
    border-radius: 50%;
    cursor: pointer;
}

@theme {
    --color-primary-1: #9333ea;
    --color-primary-2: #2663eb;

    --color-secondary: #374151;
    --color-tertiary: #4b5577;

    --color-bg-1: #ffffff;
    --color-bg-2: #eeeff1;
    --color-bg-3: #f9fafb;

    --color-brdr-1: #e5e7eb;
    --color-brdr-2: #d1d5db;

    --color-start: #22c55e;
    --color-end: #ef4444;
    --color-wall: #1f2937;
    --color-visited: #93c5fd;
    --color-path: #facc15;
}
